<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Bowie icónico</title> <!--Texto que esta en la barra de título de la ventana del navegador-->
    <link rel="stylesheet" href="../css/estilos_ejercicio1.b.css"> <!--Link para vincular el archivo css con la página html-->
</head>
<body>
    <header>
        <h1>30 DATOS QUE NO CONOCÍAS DE DAVID BOWIE</h1> <!--Titulo-->
    </header>
    <h2><i>Se reinventaba continuamente mientras cambiaba el mundo</i></h2> <!--Subtítulo-->
    <img src="https://images.squarespace-cdn.com/content/v1/587d33a54402432706c7e9e7/1546972134871-QHRFSFJJUHX23AD3655P/XFTIDTv.jpg?format=1000w" alt="The thin white Duke, personaje y alter ego de David Bowie" width="auto" height="400"> <!--Imagen ingresada desde un link global-->
    <p><b>El legendario músico inglés David Bowie murió apenas días después de lanzar al mercado su último album Blackstar.</b></p> <!--Párrafo resaltado en negrita-->
    <p>El artista británico, que se hizo famoso por su extravagante alter ego: Ziggy Stardust, era considerado como una de las grandes estrellas
        de todos los tiempos y ocupa el número 23 de una lista de Rolling Stones de los 100 grandes cantantes.</p> <!--Párrafo-->
   
    <h3>Infancia</h3> <!--Subtítulo para el contenido de las listas-->
    <ul> <!--Ingreso de una lista desordenada con sus items-->
        <li>Su nombre de pila era David Robert Jones. Nació en Brixton, Londres, el 8 de enero de 1947. Su cumpleaños coincide con el de Elvis Presley.</li> <!--Item de la lista-->
        <li>El guitarrista de Rock Peter Frampton fue el mejor amigo de Bowie en la escuela. Frampton tocó la guitarra junto a Bowie en varias ocasiones durante su carrera.</li> <!--Item de la lista-->
        <li>Comenzó a tocar el saxofón cuando tenía 12 años.</li> <!--Item de la lista-->
        <li>Un amigo de la escuela, George Underwood, le dió un puñetazo en un ojo y eso llevó a que tuviera una de sus pupilas permanentemente dilatadas.</li> <!--Item de la lista-->
    </ul> <!--Etiqueta de cierre para la lista desordenada-->
    <img src="../img/david-bowie-adolescente.jpg" alt="David Bowie en su adolescencia"> <!--Imagen ingresada desde una carpeta ubicada en la carpeta central-->
    <h3>Hombre estrella</h3> <!--Otro subtítulo para el contenido de las listas-->
    <ul> <!--Ingreso de una lista desordenada con sus items-->
        <li>A los 17 años, fue entrevistado por un programa de la BBC como fundador de la Sociedad para la Prevención de la Crueldad contra los Hombres de Pelo Largo. 
            En esa ocasión señaló que "no es nada agradable cuando alguien te llama cariño y cosas así".</li> <!--Item de la lista-->
        <li>Según el sitio de Rolling Stone, “The Laughing Gnome” es considerada la peor canción de David Bowie y muchos de sus fans opinan lo mismo.</li> <!--Item de la lista-->
        <li>El primer hit the Bowie en Reino Unido –Space Oddity, de 1969- fue usado por la BBC para la cobertura de la llegada a la Luna.</li> <!--Item de la lista-->
        <li>El primer single de David Bowie en Estados Unidos fue Fame, coescrita por John Lennon.</li> <!--Item de la lista-->
        <li>Se cree que Bowie vendió alrededor de 140 millones de albums musicales en toda su carrera.</li> <!--Item de la lista-->
        <li>En 2004, la revista Rolling Stone lo colocó en el número 39 en la lista de los 100 grandes artistas de todo los tiempos y en el número 23 de los grandes cantantes.</li> <!--Item de la lista-->
    </ul> <!--Etiqueta de cierre para la lista desordenada-->
    <img src="https://p4.wallpaperbetter.com/wallpaper/385/657/95/singers-david-bowie-wallpaper-preview.jpg" alt="David Bowie en 'The man who fell to Earth' en 1976" width="450" height="300"> <!--Imagen ingresada desde un link global-->
    <h3>Músico e Interprete</h3> <!--Subtítulo para el contenido de las listas-->
    <ul>  <!--Ingreso de una lista desordenada con sus items-->
        <li>Bowie apareció como Poncio Pilato en la película de Martin Scorsese "La Última Tentación de Cristo".</li>  <!--Item de la lista-->
        <li>Bowie co-produjo algunas de las mejores canciones del legendario album "Transformer" del cantante estadounidense Lou Reed.</li>  <!--Item de la lista-->
        <li>La canción Move On, del álbum Lodger, es una reescritura de atrás para delante de su otro hit All the Young Dudes.</li>  <!--Item de la lista-->
        <li>Fue el primer artista de renombre en estrenar una canción para descargar a través de internet, lo hizo con «Telling Lies» en 1996 y tuvo alrededor de 300.000 descargas, el tiempo estimado de cada descarga era de 11 minutos.</li>  <!--Item de la lista-->
        <li>No sólo era un gran músico y actor. También fue dibujante, pintor, escultor y escritor. Se dice que la lectura en una de sus más grandes pasiones, que incluso llegaba a leer un libro al día.</li>  <!--Item de la lista-->
    </ul> <!--Etiqueta de cierre para la lista desordenada-->
    <img src="../img/david-bowie-blackstar.jpg" alt="David Bowie en su último videoclip" > <!--Imagen ingresada desde una carpeta ubicada en la carpeta central-->
    <h3>Vida personal</h3> <!--Subtítulo para el contenido de las listas-->
    <ul> <!--Ingreso de una lista desordenada con sus items-->
        <li>Bowie le tenía fobia al té, ya que de pequeño se quemó con una taza de éste.</li> <!--Item de la lista-->
        <li>David Bowie tuvo un medio hermano esquizofrénico que se suicidó en 1985. Se inspiró en su hermano para escribir canciones como Aladdin Sane, All The Madmen, The Bewlay Brothers y Jump They Say.</li> <!--Item de la lista-->
        <li>Rechazó dos títulos: uno como Comandante de la Orden del Imperio Británico y otra título de caballero por su trayectoria musical. 
            En ambas ocasiones, mencionó que no le veía sentido a ser condecorado con títulos.</li> <!--Item de la lista-->
        <li>Arcade Fire y TV On The Radio eran dos de las bandas musicales favoritas de bowie en los últimos 10 años.</li> <!--Item de la lista-->
        <li>El 10 de enero de 2016, dos días después de su 69 cumpleaños y la publicación de Blackstar, murió de un cáncer de hígado en su apartamento de Nueva York. Se le había diagnosticado dieciocho meses antes, pero no lo había hecho público.</li> <!--Item de la lista-->
    </ul> <!--Etiqueta de cierre para la lista desordenada-->

</body>
</html>