<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Bowie subasta</title> <!--Texto que esta en la barra de título de la ventana del navegador-->
    <link rel="stylesheet" href="../css/estilos_ejercicio1.a.css"> <!--Link para vincular la hoja de estilos con la página web-->
</head>
<body>
    <header>
        <h1>David Bowie a subasta</h1> <!--Título-->
    </header>
    <h2>Diseño de álbum y fotografías inéditas de David Bowie salen a subasta</h2> <!--Subtítulo-->
    <img src="../img/david-bowie.jpg" alt="Fotografía frontal de David Bowie"> <!--Imagen ingresada desde una carpeta ubicada en la carpeta central-->
    <p>Desde ensayos del material gráfico para el éxito de 1980 "Fashion" hasta fotografías inéditas, el viernes saldrá a subasta una 
        selección de recuerdos de David Bowie procedentes de la colección privada de un artista que trabajó con la difunta estrella de la música.</p> <!--Párrafo-->
    <p>Edward Bell diseñó la portada del álbum de Bowie de 1980 "Scary Monsters (and Super Creeps)" y también trabajó con el camaleón del pop
         durante su etapa en la banda Tin Machine.</p> <!--Párrafo-->
    <p>La venta "Colección David Bowie del artista Edward Bell", organizada por la casa de subastas Halls Fine Art de Shrewsbury, 
        cuenta con 139 lotes, entre los que se incluyen retratos de Bowie como "Lazarus" y en toga.</p> <!--Párrafo-->
        <img src="https://p4.wallpaperbetter.com/wallpaper/577/267/824/david-bowie-wallpaper-preview.jpg" alt="Bowie en el album Ziggy Stardust"> <!--Imagen ingresada desde un link global-->
    <p>Entre los artículos más caros se encuentra la escultura "Savage Heart" realizada para la portada del álbum "Tin Machine II", 
        que tiene una estimación de entre 2.000 y 4.000 libras (entre 2.770 y 5.540 dólares). 
        El diseño de la portada del álbum "Scary Monsters (and Super Creeps)" se vende por entre 1.000 y 2.000 libras.</p> <!--Párrafo-->
    <p>"La singularidad de los artículos es excepcional y realmente siento que cada lote es una oportunidad de llevarse a casa un pedazo 
        de la historia del pop", dijo la especialista de Halls Fine Art, Abigail Molenaar.</p> <!--Párrafo-->
    <p>La subasta en línea comienza el viernes y se extiende hasta el 1 de agosto</p> <!--Párrafo-->

    <a href="potreroDigital_ejercicio1.b_soruco_gabriela.html" target="_blank"><i><b>Más sobre David Bowie</b></i></a> <!--Link que vincula con la otra página web creada-->

</body>
</html> 